.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.menu_container{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.menu {
  position: relative;
  border-radius: 30px;
  background-color: rgb(243, 243, 243);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.showMoreMenu{
  position: absolute;
  color: black;
  left: 95%;
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  padding: 5px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
}

.showMoreMenu:hover{
  background-color: beige;
}

/* .profile {
  width: 100%;
  padding: 0px 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.userinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
} */

.username {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  overflow: hidden;
}

/* .username {
  text-transform: capitalize;
  font-size: 1.1rem;
} */

.links , .ExpandedLinks {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.links li , .ExpandedLinks li {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
}

.links li>div , .ExpandedLinks li{
  padding: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}


.links li>div.active , .links li>div:hover {
  background-color: rgb(39, 39, 39);
  color: white;
  border-radius: 100%;
}

.ExpandedLinks li:has(.active) , .ExpandedLinks li:hover {
  background-color: rgb(79, 79, 79);
  color: white;
  border-radius: 30px;
}

.themeSwith{
  background-color: rgb(225, 225, 225);
  width: 70px;
  padding: 5px 5px 5px 10px;
  border-radius: 30px;
}

/* .sign-out {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-out button {
  background-color: #fff;
  padding: 10px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.sign-out button:hover {
  background-color: #dfdede;
} */
